<?xml version="1.0"?>
<sdf version='1.7' xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Macro to define a cone -->
    <xacro:macro name="cone" params="name type pose">
    <model name="${name}">
        <static>true</static>
        <pose>${pose}</pose>
        <link name="${name}_link">
            <visual name="visual">
                <geometry>
                    <mesh>
                        <uri>model://simulation/models/cones/cone_${type}/mesh.dae</uri>
                    </mesh>
                </geometry>
            </visual>
            <collision name="collision">
                <xacro:if value="${type == 'large_orange'}">
                    <pose>0 0 0.232 0 0 0</pose>
                    <geometry>
                        <!-- Simpler collision model for performance boost -->
                        <box>
                            <size>0.26 0.26 0.53</size>
                        </box>
                    </geometry>
                </xacro:if>
                <xacro:unless value="${type == 'large_orange'}">
                    <geometry>
                        <!-- Simpler collision model for performance boost -->
                        <box>
                            <size>0.22 0.23 0.3</size>
                        </box>
                    </geometry>
                </xacro:unless>

                <surface>
                    <!-- Big performance boost by ignoring the friction of the cones-->
                    <friction>
                        <ode>
                            <mu>0</mu>
                        </ode>
                        <bullet>
                            <friction>0</friction>
                            <friction2>0</friction2>
                        </bullet>
                    </friction>
                </surface>
            </collision>

            <!-- Different inertial properties for different types of cones -->
            <inertial>
                <xacro:if value="${type == 'large_orange'}">
                    <mass>1.05</mass>
                    <!-- Edit centre of mass later -->
                    <inertia>
                        <ixx>0.003</ixx>
                        <ixy>0.0</ixy>
                        <ixz>0.0</ixz>
                        <iyy>0.003</iyy>
                        <iyz>0.0</iyz>
                        <izz>0.002</izz>
                    </inertia>
                </xacro:if>
                <xacro:unless value="${type == 'large_orange'}">
                    <mass>0.45</mass>
                    <inertia>
                        <ixx>0.013</ixx>
                        <ixy>0.0</ixy>
                        <ixz>0.0</ixz>
                        <iyy>0.013</iyy>
                        <iyz>0.0</iyz>
                        <izz>0.006</izz>
                    </inertia>
                </xacro:unless>
            </inertial>
        </link>
    </model>
    </xacro:macro>

</sdf>