<?xml version="1.0" ?>
<sdf version='1.7' xmlns:xacro="http://www.ros.org/wiki/xacro">
  <world name='map'>

    <plugin filename="gz-sim-physics-system" name="gz::sim::systems::Physics">
      </plugin>
    <plugin filename="gz-sim-scene-broadcaster-system" name="gz::sim::systems::SceneBroadcaster">
    </plugin>
    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin
        filename="gz-sim-user-commands-system"
        name="gz::sim::systems::UserCommands">
      </plugin>

    <xacro:include filename="$(find simulation)/models/world/physics.xacro"/>
    <xacro:physics_tags/>
    
    <include>
      <uri>model://simulation/models/world/sun</uri>
    </include>

    <include>
      <uri>model://simulation/models/world/ground_plane</uri>
    </include>

    <xacro:include filename="$(find simulation)/models/cones/cone.xacro"/>

    <model name="cones">
      <xacro:cone name="blue_1" type="blue" pose="-1.637 0 0.15 0 0 0"/>
      <xacro:cone name="blue_2" type="blue" pose="-2.216 2.9131 0.15 0 0 0"/>
      <xacro:cone name="blue_3" type="blue" pose="-3.867 5.3828 0.15 0 0 0"/>
      <xacro:cone name="blue_4" type="blue" pose="-6.336 7.033 0.15 0 0 0"/>
      <xacro:cone name="blue_5" type="blue" pose="-9.25 7.6125 0.15 0 0 0"/>
      <xacro:cone name="blue_6" type="blue" pose="-12.16 7.033 0.15 0 0 0"/>
      <xacro:cone name="blue_7" type="blue" pose="-14.63 5.3828 0.15 0 0 0"/>
      <xacro:cone name="blue_8" type="blue" pose="-16.28 2.9131 0.15 0 0 0"/>
      <xacro:cone name="blue_9" type="blue" pose="-16.86 0 0.15 0 0 0"/>
      <xacro:cone name="blue_10" type="blue" pose="-16.28 -2.913 0.15 0 0 0"/>
      <xacro:cone name="blue_11" type="blue" pose="-14.63 -5.382 0.15 0 0 0"/>
      <xacro:cone name="blue_12" type="blue" pose="-12.16 -7.033 0.15 0 0 0"/>
      <xacro:cone name="blue_13" type="blue" pose="-9.25 -7.612 0.15 0 0 0"/>
      <xacro:cone name="blue_14" type="blue" pose="-6.336 -7.033 0.15 0 0 0"/>
      <xacro:cone name="blue_15" type="blue" pose="-3.867 -5.382 0.15 0 0 0"/>
      <xacro:cone name="blue_16" type="blue" pose="-2.2169 -2.913 0.15 0 0 0"/>
      <xacro:cone name="blue_17" type="blue" pose="19.862 0 0.15 0 0 0"/>
      <xacro:cone name="blue_18" type="blue" pose="19.054 4.0612 0.15 0 0 0"/>
      <xacro:cone name="blue_19" type="blue" pose="16.754 7.5041 0.15 0 0 0"/>
      <xacro:cone name="blue_20" type="blue" pose="13.311 9.8046 0.15 0 0 0"/>
      <xacro:cone name="blue_21" type="blue" pose="9.25 10.612 0.15 0 0 0"/>
      <xacro:cone name="blue_22" type="blue" pose="5.1887 9.8046 0.15 0 0 0"/>
      <xacro:cone name="blue_23" type="blue" pose="1.7458 7.5041 0.15 0 0 0"/>
      <xacro:cone name="blue_24" type="blue" pose="1.7458 -7.504 0.15 0 0 0"/>
      <xacro:cone name="blue_25" type="blue" pose="5.1887 -9.804 0.15 0 0 0"/>
      <xacro:cone name="blue_26" type="blue" pose="9.25 -10.61 0.15 0 0 0"/>
      <xacro:cone name="blue_27" type="blue" pose="13.311 -9.804 0.15 0 0 0"/>
      <xacro:cone name="blue_28" type="blue" pose="16.754 -7.504 0.15 0 0 0"/>
      <xacro:cone name="blue_29" type="blue" pose="19.054 -4.061 0.15 0 0 0"/>

      <xacro:cone name="yellow_1" type="yellow" pose="16.862 0 0.15 0 0 0"/>
      <xacro:cone name="yellow_2" type="yellow" pose="16.283 2.9131 0.15 0 0 0"/>
      <xacro:cone name="yellow_3" type="yellow" pose="14.632 5.3828 0.15 0 0 0"/>
      <xacro:cone name="yellow_4" type="yellow" pose="12.163 7.033 0.15 0 0 0"/>
      <xacro:cone name="yellow_5" type="yellow" pose="9.25 7.6125 0.15 0 0 0"/>
      <xacro:cone name="yellow_6" type="yellow" pose="6.3368 7.033 0.15 0 0 0"/>
      <xacro:cone name="yellow_7" type="yellow" pose="3.8671 5.3828 0.15 0 0 0"/>
      <xacro:cone name="yellow_8" type="yellow" pose="2.2169 2.9131 0.15 0 0 0"/>
      <xacro:cone name="yellow_9" type="yellow" pose="1.6375 0 0.15 0 0 0"/>
      <xacro:cone name="yellow_10" type="yellow" pose="2.2169 -2.913 0.15 0 0 0"/>
      <xacro:cone name="yellow_11" type="yellow" pose="3.8671 -5.382 0.15 0 0 0"/>
      <xacro:cone name="yellow_12" type="yellow" pose="6.3368 -7.033 0.15 0 0 0"/>
      <xacro:cone name="yellow_13" type="yellow" pose="9.25 -7.612 0.15 0 0 0"/>
      <xacro:cone name="yellow_14" type="yellow" pose="12.163 -7.033 0.15 0 0 0"/>
      <xacro:cone name="yellow_15" type="yellow" pose="14.632 -5.382 0.15 0 0 0"/>
      <xacro:cone name="yellow_16" type="yellow" pose="16.283 -2.913 0.15 0 0 0"/>
      <xacro:cone name="yellow_17" type="yellow" pose="-1.745 7.5041 0.15 0 0 0"/>
      <xacro:cone name="yellow_18" type="yellow" pose="-5.188 9.8046 0.15 0 0 0"/>
      <xacro:cone name="yellow_19" type="yellow" pose="-9.25 10.612 0.15 0 0 0"/>
      <xacro:cone name="yellow_20" type="yellow" pose="-13.31 9.8046 0.15 0 0 0"/>
      <xacro:cone name="yellow_21" type="yellow" pose="-16.75 7.5041 0.15 0 0 0"/>
      <xacro:cone name="yellow_22" type="yellow" pose="-19.05 4.0612 0.15 0 0 0"/>
      <xacro:cone name="yellow_23" type="yellow" pose="-19.86 0 0.15 0 0 0"/>
      <xacro:cone name="yellow_24" type="yellow" pose="-19.05 -4.061 0.15 0 0 0"/>
      <xacro:cone name="yellow_25" type="yellow" pose="-16.75 -7.504 0.15 0 0 0"/>
      <xacro:cone name="yellow_26" type="yellow" pose="-13.31 -9.8 0.15 0 0 0"/>
      <xacro:cone name="yellow_27" type="yellow" pose="-9.25 -10.61 0.15 0 0 0"/>
      <xacro:cone name="yellow_28" type="yellow" pose="-5.188 -9.804 0.15 0 0 0"/>
      <xacro:cone name="yellow_29" type="yellow" pose="-1.745 -7.504 0.15 0 0 0"/>

      <xacro:cone name="orange_1" type="orange" pose="-1.637 -9 0.15 0 0 0"/>
      <xacro:cone name="orange_2" type="orange" pose="-1.637 -11 0.15 0 0 0"/>
      <xacro:cone name="orange_3" type="orange" pose="1.6375 -9 0.15 0 0 0"/>
      <xacro:cone name="orange_4" type="orange" pose="1.6375 -11 0.15 0 0 0"/>
      <xacro:cone name="orange_5" type="orange" pose="-1.637 9 0.15 0 0 0"/>
      <xacro:cone name="orange_6" type="orange" pose="-1.637 11 0.15 0 0 0"/>
      <xacro:cone name="orange_7" type="orange" pose="-1.637 13 0.15 0 0 0"/>
      <xacro:cone name="orange_8" type="orange" pose="-1.637 15 0.15 0 0 0"/>
      <xacro:cone name="orange_9" type="orange" pose="-1.637 17 0.15 0 0 0"/>
      <xacro:cone name="orange_10" type="orange" pose="-1.637 19 0.15 0 0 0"/>
      <xacro:cone name="orange_11" type="orange" pose="1.6375 9 0.15 0 0 0"/>
      <xacro:cone name="orange_12" type="orange" pose="1.6375 11 0.15 0 0 0"/>
      <xacro:cone name="orange_13" type="orange" pose="1.6375 13 0.15 0 0 0"/>
      <xacro:cone name="orange_14" type="orange" pose="1.6375 15 0.15 0 0 0"/>
      <xacro:cone name="orange_15" type="orange" pose="1.6375 17 0.15 0 0 0"/>
      <xacro:cone name="orange_16" type="orange" pose="1.6375 19 0.15 0 0 0"/>
      <xacro:cone name="orange_17" type="orange" pose="-1.637 21 0.15 0 0 0"/>
      <xacro:cone name="orange_18" type="orange" pose="1.6375 21 0.15 0 0 0"/>
      <xacro:cone name="orange_19" type="orange" pose="-0.55 21 0.15 0 0 0"/>
      <xacro:cone name="orange_20" type="orange" pose="0.55 21 0.15 0 0 0"/>

      <xacro:cone name="large_orange_1" type="large_orange" pose="-1.783 1.4851 0.033 0 0 0"/>
      <xacro:cone name="large_orange_2" type="large_orange" pose="-1.783 -1.485 0.033 0 0 0"/>
      <xacro:cone name="large_orange_3" type="large_orange" pose="1.7837 1.4851 0.033 0 0 0"/>
      <xacro:cone name="large_orange_4" type="large_orange" pose="1.7837 -1.485 0.033 0 0 0"/>

      <plugin name="gz::sim::systems::PosePublisher" filename="gz-sim-pose-publisher-system">
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <publish_model_pose>true</publish_model_pose>
        <publish_nested_model_pose>true</publish_nested_model_pose>
        <publish_link_pose>false</publish_link_pose>
      </plugin>

    </model>

  </world>
</sdf>