<?xml version="1.0" ?>
<sdf version='1.11' xmlns:xacro="http://www.ros.org/wiki/xacro">
    <model name='ads_dv' canonical_link='base_link'>

        <!-- Base Link -->
        <link name='base_link'>
            <inertial>
                <!-- Needed to disable lumping -->
                <mass>0.001</mass>
                <inertia>
                    <ixx>0.001</ixx>
                    <ixy>0</ixy>
                    <ixz>0</ixz>
                    <iyy>0.001</iyy>
                    <iyz>0</iyz>
                    <izz>0.001</izz>
                </inertia>
            </inertial>
            <visual name='base_link_visual'>
                <geometry>
                    <box>
                        <size>0.01 0.01 0.01</size>
                    </box>
                </geometry>
            </visual>
        </link>


        <!-- Chassis -->
        <link name='chassis'>
            <pose relative_to='base_to_chassis'>0 0 0 0 0 0</pose>
            <inertial>
                <pose>0 0 0 0 0 0</pose>
                <mass>278</mass>
                <inertia>
                    <ixx>14.38</ixx>
                    <ixy>0</ixy>
                    <ixz>0</ixz>
                    <iyy>178.90</iyy>
                    <iyz>0</iyz>
                    <izz>175.68</izz>
                </inertia>
            </inertial>
            <collision name='chassis_collision'>
                <pose>0 0 0 0 0 0</pose>
                <geometry>
                    <box>
                        <size>2.7 0.489 0.414</size>
                    </box>
                </geometry>
            </collision>
            <visual name='chassis_visual'>
                <pose>0 0 0 0 0 0</pose>
                <geometry>
                    <mesh>
                        <uri>model://simulation/models/vehicle/ads-dv.stl</uri>
                        <scale>1 1 1</scale>
                    </mesh>
                </geometry>
                <material>
                    <diffuse>0 0.25 0.1625 1</diffuse>
                    <ambient>0 0.25 0.1625 1</ambient>
                </material>
            </visual>
            <sensor name='imu_sensor' type='imu'>
                <always_on>1</always_on>
                <update_rate>300</update_rate>
                <visualize>true</visualize>
                <topic>imu</topic>
            </sensor>
        </link>


         <!-- Wheels and Joints -->
        <xacro:include filename="$(find simulation)/models/vehicle/wheel.xacro" />

        <xacro:wheel name="front_left_wheel" parent="front_left_wheel_steering_link" x="0" y="0.09825" z="0" roll="-1.5707" pitch="0" yaw="0"/>

        <xacro:wheel name="front_right_wheel" parent="front_right_wheel_steering_link" x="0" y="-0.09825" z="0" roll="-1.5707" pitch="0" yaw="0"/>

        <xacro:wheel name="rear_left_wheel" parent="chassis" x="-0.767" y="0.57" z="-0.0235" roll="-1.5707" pitch="0" yaw="0"/>

        <xacro:wheel name="rear_right_wheel" parent="chassis" x="-0.767" y="-0.57" z="-0.0235" roll="-1.5707" pitch="0" yaw="0"/>


        <!-- Steering Links and Joints -->
        <xacro:include filename="$(find simulation)/models/vehicle/steering.xacro" />

        <xacro:steering name="front_left_wheel_steering" parent="chassis" limit="0.424250477138" x="0.767" y="0.47175" z="-0.0235" roll="0" pitch="0" yaw="0"/>
        
        <xacro:steering name="front_right_wheel_steering" parent="chassis" limit="0.424250477138" x="0.767" y="-0.47175" z="-0.0235" roll="0" pitch="0" yaw="0"/>


        <!-- Fixed Joints -->
        <joint name='base_to_camera' type='fixed'>
            <pose relative_to='base_link'>0.4865 0 0.671 0 0 0</pose>
            <parent>base_link</parent>
            <child>camera_link</child>
        </joint>

        <joint name='base_to_logical_camera' type='fixed'>
            <pose relative_to='base_link'>0.4865 0 0.671 0 0 0</pose>
            <parent>base_link</parent>
            <child>logical_camera_link</child>
        </joint>

        <joint name='base_to_velodyne' type='fixed'>
            <pose relative_to='base_link'>0.52 0 0.59946 0 0 0</pose>
            <parent>base_link</parent>
            <child>velodyne</child>
        </joint>

        <joint name='base_to_chassis' type='fixed'>
            <pose relative_to='base_link'>0 0 0.307 0 0 0</pose>
            <parent>base_link</parent>
            <child>chassis</child>
        </joint>


        <!-- Sim (Stereo + Depth + Logical) Camera -->
        <xacro:include filename="$(find simulation)/models/sensors/sim_camera.xacro" />


        <!-- Velodyne -->
        <xacro:include filename="$(find simulation)/models/sensors/velodyne.xacro" />


        <!-- Ackermann Steering Plugin -->
        <plugin filename="gz-sim-ackermann-steering-system" name="gz::sim::systems::AckermannSteering">
            <steering_only>True</steering_only>
            <steer_p_gain>5.0</steer_p_gain>
            <left_joint>front_left_wheel_joint</left_joint>
            <left_joint>rear_left_wheel_joint</left_joint>
            <right_joint>front_right_wheel_joint</right_joint>
            <right_joint>rear_right_wheel_joint</right_joint>
            <left_steering_joint>front_left_wheel_steering_joint</left_steering_joint>
            <right_steering_joint>front_right_wheel_steering_joint</right_steering_joint>
            <kingpin_width>1.0</kingpin_width> <!-- or 0.72 idk maybe change it later and see how it affects the simulation -->
            <steering_limit>0.424250477138</steering_limit>
            <wheel_base>1.534</wheel_base>
            <wheel_separation>1.2</wheel_separation>
            <wheel_radius>0.2575</wheel_radius>
            <topic>steer_angle_cmd</topic>
            <odom_publish_frequency>50</odom_publish_frequency> <!-- Don't use that anymore-->
            <min_velocity>-10.0</min_velocity> <!-- the plugin currently prevents steering to the right if this is set to 0 -->
            <max_velocity>30.0</max_velocity>
            <min_acceleration>-5.2</min_acceleration>
            <max_acceleration>5.2</max_acceleration>
            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
        </plugin>
        <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
            <joint_name>rear_left_wheel_joint</joint_name>
            <joint_name>rear_right_wheel_joint</joint_name>
            <topic>speed_cmd</topic>
        </plugin>
        <plugin name="gz::sim::systems::LogicalCamera" filename="gz-sim-logical-camera-system">
            <render_engine>ogre2</render_engine>
        </plugin>
            <plugin name="gz::sim::systems::JointStatePublisher" filename="gz-sim-joint-state-publisher-system">
            <topic>/model/ads_dv/joint_state</topic>
        </plugin>
        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        </plugin>
        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_link</robot_base_frame>
            <odom_publish_frequency>600</odom_publish_frequency>
            <odom_topic>ads_dv/odom</odom_topic>
            <tf_topic>ads_dv/tf</tf_topic>
            <!-- not the same as /model/ads_dv/tf or model/ads_dv/odom which AckermannSteering publishes. Don't use that, it depends on the wheel joints and not the actual location -->
        </plugin>
    </model>
</sdf>
